{% extends 'base.html.twig' %}

{% block title %}Porte-Conteneurs{% endblock %}

{% block body %}

    <h1>Liste des porte-conteneurs</h1>

    {% for containership in listContainer %}
        <p>{{ containership.id }} {{ containership.name }} <a href="containership/{{ containership.id }}">Voir</a></p>
    {% endfor %}
{% endblock %}