{% extends 'base.html.twig' %}

{% block title %}Container{% endblock %}

{% block body %}
    <a href="container"> Voir les conteneurs</a>
    <a href="containership"> Voir les bateaux</a>
    <a href="product"> Voir les produits</a>
{% endblock %}
