{% extends 'base.html.twig' %}

{% block title %}Container{% endblock %}

{% block body %}
        <p>{{ container.id }} {{ container.containerModel.name }} {{ container.containership.name }} </p>
    <p>{{ container.containerModel.length }}</p>
{% endblock %}
