{% extends 'base.html.twig' %}

{% block title %}Container{% endblock %}

{% block body %}
        <p>{{ containership.id }} {{ containership.name }} {{ containership.captainName }} </p>
{% endblock %}
